/*
	CSS file for AnthonyMai.me
	Created by: Anthony Mai
*/
@import url("fontawesome-all.css");

html {
  	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  	Arial, sans-serif;
  	box-sizing: border-box;
  	height: 100vh;
  	width: 100%;
}

body {
	background-color: white;
}

#wrapper {
	/*margin: 0px;*/
	height: 100vh;
/*	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;*/
}

#nav {
	/*max-width: 25%;*/
	margin: 0 auto;
	text-align: right;
}

#nav a {
	font-size: 1.5em;
	text-decoration: none;
	color: black;
	/*color: #ff6961;*/
}

#about {
	/*margin-top: 5%;*/
	margin: 0 auto;
	font-size: 1.5em;

	/*width: 100%;*/
	/*height: 100%;*/
}

.name {
	/*font-weight: bold;*/
	font-size: 1.6em;
	color: ;
	font-family: sans-serif;
}

#resume {
	grid-area: Content;
	height: auto;
	width: auto;
	background-color: white;
	margin-bottom: -1%;
}

#education {
	max-height: 98%;
	max-width: 50%;
	width: 50%;
	margin: 0 auto;
}

#education * {
	margin: 0px;/*
	margin-left: 20%;
	margin-right: 20%;*/
}

.sectionStyle1 {
	margin-top: 15px !important;
	margin-bottom: 20px !important;
}

.sectionStyle2 {
	background-color: red;
	margin-top: 10px !important;
	margin-bottom: 20px !important;
}

.normalWeight {
	font-weight: normal;
}

.italics {
	font-style: italic;
}

.line-bottom {
    padding-bottom: 1%;
    border-bottom: 2px solid black;
}

.fab, .fas {
	opacity: 0.55;
	color: white;
	font-size: 3em;
}

@media screen and (max-width: 500px) {
}