/*
	CSS file for AnthonyMai.me
	Created by: Anthony Mai
*/

* {
	margin: 0;
	padding: 0;
}

header {
	height: calc(100vh - 175px);
}

#introduction {
	background: url("../images/header-bg.svg") no-repeat center center fixed;
	background-attachment: fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

#aboutMe {
	color: black;
	background-color: white !important;
	margin-top: 100px;
	border-radius: 15px;
}

#aboutMe * {
	margin-top: 2%;
	margin-bottom: 1%;
}

#myTitle {
	margin-top: 1%;
}

/* Typewriter Effect */
/* Source: Geoff Graham - https://css-tricks.com/snippets/css/typewriter-effect/ */

@media (min-width: 700px) {
	#myName {
		visibility: hidden;
	}

	#myTitle {
		visibility: hidden;
	}

	.typewriter h4 {
 		overflow: hidden;
 		border-right: .15em solid transparent;
 		white-space: nowrap;
 		margin: 0 auto;
 		letter-spacing: .1em;
 		animation: 
    	typing 3.5s steps(40, end);
	}

	.typewriter h2 {
		overflow: hidden;
		visibility: visible;
		border-right: .15em solid transparent;
		white-space: nowrap;
		margin: 0 auto;
		letter-spacing: .1em;
		animation: 
		  typing 2s steps(40, end);
		animation-delay: 0.5s;
		animation-fill-mode:forwards;
	}
	
	.typewriter h3 {
		overflow: hidden;
		visibility: visible;
		border-right: .15em solid transparent;
		white-space: nowrap;
		margin: 0 auto;
		letter-spacing: .1em;
		animation: 
		  typing 1.5s steps(40, end);
		animation-delay: 1.5s;
		animation-fill-mode:forwards;
	}
	
	@keyframes typing {
		from { width: 1% }
		to { width: 100% }
		100% { visibility: visible }
	}
}

#expand {
	height: 175px;
}

#expand-icon {
	color: white;
	font-size: 6em;
	animation-name: expand-animation;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes expand-animation {
	0% { font-size: 6.1em; }

	10% { font-size: 6.2em; }

	20% { font-size: 6.3em; }

	30% { font-size: 6.4em; }

	40% { font-size: 6.5em; }

	50% { font-size: 6.6em; }

	60% { font-size: 6.5em; }

	70% { font-size: 6.4em; }

	80% { font-size: 6.3em; }

	90% { font-size: 6.2em; }

	100% { font-size: 6.1em; }
}

.studyList li {
	margin-top: 15px;
	margin-left: 20px;
	font-size: 0.9em;
}

.industryList li {
	margin-top: 15px;
	font-size: 0.9em;
}

#resume {
	min-height: 100vh;
}

#education, #industry, #skills {
	margin-top: 25px;
	font-size: 1.5em;
}

.bold {
	font-weight: bold;
}

footer {
	text-align: center;
	background-color: #283e4a !important;
}

footer a {
	color: white;
	text-shadow: 1px 1px #000;
	font-weight: bold;
	padding-left: 15px;
	font-size: 2em !important;
}