/*
	CSS file for AnthonyMai.me
	Created by: Anthony Mai
*/

* {
	margin: 0;
	padding: 0;
}

#aboutMe {
	height: calc(100vh - 175px);
}

#title {
	margin-top: 75px;
}

#console {
	height: 175px;
	color: white;
	font-size: 20px;
	background-color: #272822;
}

#showConsoleButton {
	height: 0px;
}

#consoleCommands {
	max-height: 145px;
	overflow: scroll;
	overflow-x: hidden;
}

#consoleCommands, #consoleCommand {
	margin-left: 5px;
}

#consoleCommand {
	background-color: #272822;
	color: white;
    border: 0;
    text-shadow: 0px 0px 0px #ffff;
    outline: none;
}

.transparent {
	color: transparent;
}

.blink {
	animation-name: blink_animation;
	animation-duration: 900ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes blink_animation {
	0% { opacity: 1; }

	25% { opacity: 0.75; }

	50% { opacity: 0.5; }

	75% { opacity: 0.25; }

	100% { opacity: 0; }
}

.studyList li {
	margin-top: 15px;
	margin-left: 20px;
	font-size: 0.9em;
}

.industryList li {
	margin-top: 15px;
	font-size: 0.9em;
}

#resume {
	min-height: 100vh;
	display: none;
}

#education, #industry, #skills {
	margin-top: 25px;
	font-size: 1.5em;
}

.bold {
	font-weight: bold;
}

footer {
	text-align: center;
	background-color: #283e4a !important;
	display: none;
}

footer a {
	color: white;
	padding-left: 15px;
	font-size: 1.5em !important;
}